# Exemples de fonctions Pandas utiles pour le TP 1

## Importations des librairies utiles

In [1]:
import numpy as np
import pandas as pd

print('numpy %s, pandas %s'%(np.__version__,pd.__version__))

numpy 1.18.1, pandas 0.25.0

## Creation depuis un CSV et affichage d'un Dataframe Pandas

In [2]:
my_dataframe = pd.read_csv('Data/iris.csv', dtype={'id_Iris': np.int})
my_dataframe

,id_Iris,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
0,23,NaN,NaN,1.4,0.2,0
1,104,4.9,3.0,1.4,0.2,0
2,18,4.7,3.2,1.3,0.2,0
3,49,4.6,3.1,1.5,0.2,0
4,123,5.0,3.6,1.4,0.2,0
5,73,5.4,3.9,1.7,0.4,0
6,147,4.6,3.4,1.4,0.3,0
7,116,5.0,3.4,1.5,0.2,0
8,134,4.4,NaN,1.4,0.2,0
9,38,4.9,3.1,1.5,0.1,0
10,80,5.4,3.7,1.5,0.2,0
11,46,4.8,3.4,NaN,0.2,0
12,63,4.8,3.0,1.4,0.1,0
13,24,4.3,3.0,1.1,0.1,0
14,43,5.8,4.0,1.2,0.2,0
15,60,5.7,4.4,1.5,NaN,0
16,138,5.4,3.9,1.3,0.4,0
17,76,5.1,3.5,1.4,0.3,0
18,108,5.7,3.8,1.7,0.3,0
19,83,5.1,3.8,1.5,0.3,0
20,7,5.4,3.4,1.7,0.2,0
21,48,NaN,3.7,1.5,0.4,0
22,68,4.6,3.6,1.0,0.2,0
23,47,5.1,3.3,1.7,0.5,0
24,91,4.8,3.4,1.9,0.2,0
25,3,5.0,3.0,1.6,0.2,0
26,119,5.0,3.4,1.6,0.4,0
27,114,5.2,3.5,1.5,0.2,0
28,139,5.2,3.4,1.4,0.2,0
29,78,4.7,3.2,1.6,0.2,0
...,...,...,...,...,...,...
120,111,6.9,3.2,5.7,2.3,2
121,57,5.6,2.8,4.9,2.0,2
122,14,7.7,2.8,6.7,2.0,2
123,84,6.3,2.7,4.9,NaN,2
124,9,6.7,3.3,5.7,2.1,2
125,100,7.2,NaN,6.0,1.8,2
126,82,6.2,2.8,4.8,1.8,2
127,41,6.1,3.0,4.9,1.8,2
128,106,6.4,2.8,5.6,2.1,2
129,16,7.2,3.0,5.8,1.6,2
130,103,7.4,2.8,6.1,1.9,2
131,25,7.9,3.8,6.4,2.0,2
132,102,6.4,2.8,5.6,2.2,2
133,75,6.3,2.8,5.1,1.5,2
134,45,6.1,2.6,5.6,1.4,2
135,26,7.7,3.0,NaN,2.3,2
136,89,6.3,3.4,5.6,2.4,2
137,58,6.4,3.1,5.5,1.8,2
138,77,6.0,3.0,4.8,1.8,2
139,61,6.9,3.1,5.4,2.1,2
140,29,6.7,3.1,5.6,2.4,2
141,37,6.9,NaN,5.1,2.3,2
142,132,5.8,2.7,5.1,1.9,2
143,149,6.8,3.2,5.9,2.3,2
144,86,6.7,NaN,5.7,2.5,2
145,124,6.7,3.0,5.2,2.3,2
146,44,6.3,2.5,5.0,1.9,2
147,69,6.5,3.0,NaN,2.0,2
148,56,6.2,3.4,5.4,2.3,2
149,5,5.9,3.0,5.1,1.8,2

### Quelques Affichages du dataframe

In [3]:
my_dataframe.sample(5)

,id_Iris,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
90,40,5.5,2.6,4.4,NaN,1
7,116,5.0,3.4,1.5,0.2,0
112,72,6.8,3.0,5.5,2.1,2
82,21,5.8,2.7,3.9,1.2,1
69,97,5.6,2.5,3.9,1.1,1

In [4]:
my_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
id_Iris                 150 non-null int32
Longueur Sépale (cm)    142 non-null float64
Largeur Sépale (cm)     142 non-null float64
Longueur Pétale (cm)    143 non-null float64
Largeur Pétale (cm)     146 non-null float64
Type Iris               150 non-null int64
dtypes: float64(4), int32(1), int64(1)
memory usage: 6.6 KB

In [5]:
my_dataframe.mean()

id_Iris                 74.500000
Longueur Sépale (cm)     5.846479
Largeur Sépale (cm)      3.049296
Longueur Pétale (cm)     3.756643
Largeur Pétale (cm)      1.208219
Type Iris                1.000000
dtype: float64

In [6]:
my_dataframe.dtypes

id_Iris                   int32
Longueur Sépale (cm)    float64
Largeur Sépale (cm)     float64
Longueur Pétale (cm)    float64
Largeur Pétale (cm)     float64
Type Iris                 int64
dtype: object

## Transformation d'une colonne en index

In [7]:
my_dataframe.set_index('id_Iris',inplace=True)
my_dataframe

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
id_Iris,,,,,
23,NaN,NaN,1.4,0.2,0
104,4.9,3.0,1.4,0.2,0
18,4.7,3.2,1.3,0.2,0
49,4.6,3.1,1.5,0.2,0
123,5.0,3.6,1.4,0.2,0
73,5.4,3.9,1.7,0.4,0
147,4.6,3.4,1.4,0.3,0
116,5.0,3.4,1.5,0.2,0
134,4.4,NaN,1.4,0.2,0
38,4.9,3.1,1.5,0.1,0
80,5.4,3.7,1.5,0.2,0
46,4.8,3.4,NaN,0.2,0
63,4.8,3.0,1.4,0.1,0
24,4.3,3.0,1.1,0.1,0
43,5.8,4.0,1.2,0.2,0
60,5.7,4.4,1.5,NaN,0
138,5.4,3.9,1.3,0.4,0
76,5.1,3.5,1.4,0.3,0
108,5.7,3.8,1.7,0.3,0
83,5.1,3.8,1.5,0.3,0
7,5.4,3.4,1.7,0.2,0
48,NaN,3.7,1.5,0.4,0
68,4.6,3.6,1.0,0.2,0
47,5.1,3.3,1.7,0.5,0
91,4.8,3.4,1.9,0.2,0
3,5.0,3.0,1.6,0.2,0
119,5.0,3.4,1.6,0.4,0
114,5.2,3.5,1.5,0.2,0
139,5.2,3.4,1.4,0.2,0
78,4.7,3.2,1.6,0.2,0
...,...,...,...,...,...
111,6.9,3.2,5.7,2.3,2
57,5.6,2.8,4.9,2.0,2
14,7.7,2.8,6.7,2.0,2
84,6.3,2.7,4.9,NaN,2
9,6.7,3.3,5.7,2.1,2
100,7.2,NaN,6.0,1.8,2
82,6.2,2.8,4.8,1.8,2
41,6.1,3.0,4.9,1.8,2
106,6.4,2.8,5.6,2.1,2
16,7.2,3.0,5.8,1.6,2
103,7.4,2.8,6.1,1.9,2
25,7.9,3.8,6.4,2.0,2
102,6.4,2.8,5.6,2.2,2
75,6.3,2.8,5.1,1.5,2
45,6.1,2.6,5.6,1.4,2
26,7.7,3.0,NaN,2.3,2
89,6.3,3.4,5.6,2.4,2
58,6.4,3.1,5.5,1.8,2
77,6.0,3.0,4.8,1.8,2
61,6.9,3.1,5.4,2.1,2
29,6.7,3.1,5.6,2.4,2
37,6.9,NaN,5.1,2.3,2
132,5.8,2.7,5.1,1.9,2
149,6.8,3.2,5.9,2.3,2
86,6.7,NaN,5.7,2.5,2
124,6.7,3.0,5.2,2.3,2
44,6.3,2.5,5.0,1.9,2
69,6.5,3.0,NaN,2.0,2
56,6.2,3.4,5.4,2.3,2
5,5.9,3.0,5.1,1.8,2

## Tri selon l'index

In [8]:
my_dataframe.sort_index(inplace=True) #Inplace permet de conserver les modification du DataFrame
my_dataframe

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
id_Iris,,,,,
0,4.9,3.1,1.5,0.2,0
1,5.3,3.7,1.5,0.2,0
2,6.7,3.1,4.4,1.4,1
3,5.0,3.0,1.6,0.2,0
4,5.7,NaN,4.2,1.3,1
5,5.9,3.0,5.1,1.8,2
6,6.1,2.8,4.0,1.3,1
7,5.4,3.4,1.7,0.2,0
8,5.6,3.0,4.5,1.5,1
9,6.7,3.3,5.7,2.1,2
10,4.6,3.2,1.4,0.2,0
11,5.0,2.3,3.3,1.0,1
12,5.5,4.2,1.4,0.2,0
13,5.8,2.7,5.1,1.9,2
14,7.7,2.8,6.7,2.0,2
15,6.3,3.3,4.7,1.6,1
16,7.2,3.0,5.8,1.6,2
17,6.6,3.0,4.4,1.4,1
18,4.7,3.2,1.3,0.2,0
19,NaN,2.6,4.0,1.2,1
20,5.2,4.1,1.5,0.1,0
21,5.8,2.7,3.9,1.2,1
22,6.0,2.9,4.5,1.5,1
23,NaN,NaN,1.4,0.2,0
24,4.3,3.0,1.1,0.1,0
25,7.9,3.8,6.4,2.0,2
26,7.7,3.0,NaN,2.3,2
27,5.0,3.3,1.4,0.2,0
28,5.4,3.4,NaN,0.4,0
29,6.7,3.1,5.6,2.4,2
...,...,...,...,...,...
120,5.5,2.3,4.0,1.3,1
121,5.9,3.2,4.8,1.8,1
122,5.7,2.8,4.5,1.3,1
123,5.0,3.6,1.4,0.2,0
124,6.7,3.0,5.2,2.3,2
125,5.0,3.5,NaN,0.3,0
126,6.4,2.7,5.3,1.9,2
127,4.8,3.1,1.6,0.2,0
128,6.3,2.3,4.4,1.3,1
129,6.2,2.2,NaN,1.5,1
130,5.5,2.5,4.0,1.3,1
131,4.8,3.0,1.4,0.3,0
132,5.8,2.7,5.1,1.9,2
133,6.4,3.2,4.5,1.5,1
134,4.4,NaN,1.4,0.2,0
135,5.1,3.4,1.5,0.2,0
136,7.7,3.8,6.7,2.2,2
137,4.9,2.5,4.5,1.7,2
138,5.4,3.9,1.3,0.4,0
139,5.2,3.4,1.4,0.2,0
140,4.4,3.0,1.3,0.2,0
141,NaN,2.7,4.2,1.3,1
142,6.1,3.0,4.6,1.4,1
143,6.5,3.0,5.5,1.8,2
144,NaN,3.5,1.3,0.2,0
145,6.5,2.8,4.6,1.5,1
146,6.0,2.2,4.0,1.0,1
147,4.6,3.4,1.4,0.3,0
148,7.3,2.9,NaN,1.8,2
149,6.8,3.2,5.9,2.3,2

## Sélection d'une colonne de Dataframe

In [9]:
my_dataframe['Largeur Sépale (cm)']

id_Iris
0      3.1
1      3.7
2      3.1
3      3.0
4      NaN
      ...
145    2.8
146    2.2
147    3.4
148    2.9
149    3.2
Name: Largeur Sépale (cm), Length: 150, dtype: float64

## Sélection d'une sous-partie de Dataframe (Slice) avec loc

In [10]:
my_dataframe.loc[124:128,'Largeur Sépale (cm)':'Largeur Pétale (cm)']

         Largeur Sépale (cm)  Longueur Pétale (cm)  Largeur Pétale (cm)
id_Iris
124                      3.0                   5.2                  2.3
125                      3.5                   NaN                  0.3
126                      2.7                   5.3                  1.9
127                      3.1                   1.6                  0.2
128                      2.3                   4.4                  1.3

In [11]:
mon_petit_dataframe = my_dataframe.loc[145:,['Longueur Sépale (cm)','Longueur Pétale (cm)','Type Iris']]
mon_petit_dataframe

         Longueur Sépale (cm)  Longueur Pétale (cm)  Type Iris
id_Iris
145                       6.5                   4.6          1
146                       6.0                   4.0          1
147                       4.6                   1.4          0
148                       7.3                   NaN          2
149                       6.8                   5.9          2

## Filtre

In [12]:
mon_petit_dataframe[mon_petit_dataframe['Longueur Pétale (cm)']>4]

         Longueur Sépale (cm)  Longueur Pétale (cm)  Type Iris
id_Iris
145                       6.5                   4.6          1
149                       6.8                   5.9          2

## Modification en masse (Vectorisation)

In [13]:
mon_petit_dataframe * 2

         Longueur Sépale (cm)  Longueur Pétale (cm)  Type Iris
id_Iris
145                      13.0                   9.2          2
146                      12.0                   8.0          2
147                       9.2                   2.8          0
148                      14.6                   NaN          4
149                      13.6                  11.8          4

In [14]:
mon_petit_dataframe['Longueur Pétale (cm)'] = mon_petit_dataframe['Longueur Pétale (cm)'] -1
mon_petit_dataframe

         Longueur Sépale (cm)  Longueur Pétale (cm)  Type Iris
id_Iris
145                       6.5                   3.6          1
146                       6.0                   3.0          1
147                       4.6                   0.4          0
148                       7.3                   NaN          2
149                       6.8                   4.9          2

## Conversion en Numpy (nécessaire car attendu par scikit)

In [15]:
my_array=mon_petit_dataframe.values
print(type(my_array))
my_array

<class 'numpy.ndarray'>

array([[6.5, 3.6, 1. ],
       [6. , 3. , 1. ],
       [4.6, 0.4, 0. ],
       [7.3, nan, 2. ],
       [6.8, 4.9, 2. ]])

## Fonction GroupBy

In [16]:
mon_petit_dataframe[['Longueur Sépale (cm)', 'Longueur Pétale (cm)','Type Iris']].groupby(['Type Iris'])

In [17]:
mon_petit_dataframe[['Longueur Sépale (cm)', 'Longueur Pétale (cm)','Type Iris']].groupby(['Type Iris']).mean()

           Longueur Sépale (cm)  Longueur Pétale (cm)
Type Iris
0                          4.60                   0.4
1                          6.25                   3.3
2                          7.05                   4.9

In [18]:
mon_petit_dataframe[['Longueur Sépale (cm)', 'Longueur Pétale (cm)','Type Iris']].groupby(['Type Iris']).max()

           Longueur Sépale (cm)  Longueur Pétale (cm)
Type Iris
0                           4.6                   0.4
1                           6.5                   3.6
2                           7.3                   4.9

## Fonction qcut and cut

In [19]:
my_dataframe['CategoricalLgPetale'] = pd.qcut(my_dataframe['Longueur Pétale (cm)'],5)
my_dataframe.head(3)

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris,CategoricalLgPetale
id_Iris,,,,,,
0,4.9,3.1,1.5,0.2,0,"(0.999, 1.5]"
1,5.3,3.7,1.5,0.2,0,"(0.999, 1.5]"
2,6.7,3.1,4.4,1.4,1,"(3.9, 4.62]"

In [20]:
pd.qcut(my_dataframe['Longueur Pétale (cm)'],5).value_counts()

(0.999, 1.5]    35
(4.62, 5.3]     29
(5.3, 6.9]      28
(3.9, 4.62]     28
(1.5, 3.9]      23
Name: Longueur Pétale (cm), dtype: int64

In [21]:
my_dataframe['CategoricalLgPetale'] = pd.cut(my_dataframe['Longueur Pétale (cm)'],5)
my_dataframe.head(3)

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris,CategoricalLgPetale
id_Iris,,,,,,
0,4.9,3.1,1.5,0.2,0,"(0.994, 2.18]"
1,5.3,3.7,1.5,0.2,0,"(0.994, 2.18]"
2,6.7,3.1,4.4,1.4,1,"(3.36, 4.54]"

In [22]:
pd.cut(my_dataframe['Longueur Pétale (cm)'],5).value_counts()

(0.994, 2.18]    47
(4.54, 5.72]     46
(3.36, 4.54]     33
(5.72, 6.9]      14
(2.18, 3.36]      3
Name: Longueur Pétale (cm), dtype: int64

## Fonction map

In [38]:
my_dataframe['label_iris'] =  my_dataframe["Type Iris"].map(
    {0:'Versicolor',
     1:'Setosa',
     2:'Virginica',
    }
)
my_dataframe

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris,label_iris
id_Iris,,,,,,
0,4.9,3.1,1.5,0.2,0,Versicolor
1,5.3,3.7,1.5,0.2,0,Versicolor
2,6.7,3.1,4.4,1.4,1,Setosa
3,5.0,3.0,1.6,0.2,0,Versicolor
4,5.7,NaN,4.2,1.3,1,Setosa
5,5.9,3.0,5.1,1.8,2,Virginica
6,6.1,2.8,4.0,1.3,1,Setosa
7,5.4,3.4,1.7,0.2,0,Versicolor
8,5.6,3.0,4.5,1.5,1,Setosa
9,6.7,3.3,5.7,2.1,2,Virginica
10,4.6,3.2,1.4,0.2,0,Versicolor
11,5.0,2.3,3.3,1.0,1,Setosa
12,5.5,4.2,1.4,0.2,0,Versicolor
13,5.8,2.7,5.1,1.9,2,Virginica
14,7.7,2.8,6.7,2.0,2,Virginica
15,6.3,3.3,4.7,1.6,1,Setosa
16,7.2,3.0,5.8,1.6,2,Virginica
17,6.6,3.0,4.4,1.4,1,Setosa
18,4.7,3.2,1.3,0.2,0,Versicolor
19,NaN,2.6,4.0,1.2,1,Setosa
20,5.2,4.1,1.5,0.1,0,Versicolor
21,5.8,2.7,3.9,1.2,1,Setosa
22,6.0,2.9,4.5,1.5,1,Setosa
23,NaN,NaN,1.4,0.2,0,Versicolor
24,4.3,3.0,1.1,0.1,0,Versicolor
25,7.9,3.8,6.4,2.0,2,Virginica
26,7.7,3.0,NaN,2.3,2,Virginica
27,5.0,3.3,1.4,0.2,0,Versicolor
28,5.4,3.4,NaN,0.4,0,Versicolor
29,6.7,3.1,5.6,2.4,2,Virginica
...,...,...,...,...,...,...
120,5.5,2.3,4.0,1.3,1,Setosa
121,5.9,3.2,4.8,1.8,1,Setosa
122,5.7,2.8,4.5,1.3,1,Setosa
123,5.0,3.6,1.4,0.2,0,Versicolor
124,6.7,3.0,5.2,2.3,2,Virginica
125,5.0,3.5,NaN,0.3,0,Versicolor
126,6.4,2.7,5.3,1.9,2,Virginica
127,4.8,3.1,1.6,0.2,0,Versicolor
128,6.3,2.3,4.4,1.3,1,Setosa
129,6.2,2.2,NaN,1.5,1,Setosa
130,5.5,2.5,4.0,1.3,1,Setosa
131,4.8,3.0,1.4,0.3,0,Versicolor
132,5.8,2.7,5.1,1.9,2,Virginica
133,6.4,3.2,4.5,1.5,1,Setosa
134,4.4,NaN,1.4,0.2,0,Versicolor
135,5.1,3.4,1.5,0.2,0,Versicolor
136,7.7,3.8,6.7,2.2,2,Virginica
137,4.9,2.5,4.5,1.7,2,Virginica
138,5.4,3.9,1.3,0.4,0,Versicolor
139,5.2,3.4,1.4,0.2,0,Versicolor
140,4.4,3.0,1.3,0.2,0,Versicolor
141,NaN,2.7,4.2,1.3,1,Setosa
142,6.1,3.0,4.6,1.4,1,Setosa
143,6.5,3.0,5.5,1.8,2,Virginica
144,NaN,3.5,1.3,0.2,0,Versicolor
145,6.5,2.8,4.6,1.5,1,Setosa
146,6.0,2.2,4.0,1.0,1,Setosa
147,4.6,3.4,1.4,0.3,0,Versicolor
148,7.3,2.9,NaN,1.8,2,Virginica
149,6.8,3.2,5.9,2.3,2,Virginica

## Filtre de valeurs

In [41]:
my_dataframe.loc[my_dataframe["Type Iris"]==2][0:20]

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris,label_iris
id_Iris,,,,,,
5,5.9,3.0,5.1,1.8,2,Virginica
9,6.7,3.3,5.7,2.1,2,Virginica
13,5.8,2.7,5.1,1.9,2,Virginica
14,7.7,2.8,6.7,2.0,2,Virginica
16,7.2,3.0,5.8,1.6,2,Virginica
25,7.9,3.8,6.4,2.0,2,Virginica
26,7.7,3.0,NaN,2.3,2,Virginica
29,6.7,3.1,5.6,2.4,2,Virginica
32,6.5,3.2,5.1,2.0,2,Virginica
34,6.0,2.2,5.0,1.5,2,Virginica
36,7.6,3.0,6.6,2.1,2,Virginica
37,6.9,NaN,5.1,2.3,2,Virginica
41,6.1,3.0,4.9,1.8,2,Virginica
44,6.3,2.5,5.0,1.9,2,Virginica
45,6.1,2.6,5.6,1.4,2,Virginica
52,7.1,3.0,5.9,2.1,2,Virginica
53,6.7,2.5,5.8,1.8,2,Virginica
56,6.2,3.4,5.4,2.3,2,Virginica
57,5.6,2.8,4.9,2.0,2,Virginica
58,6.4,3.1,5.5,1.8,2,Virginica

## Filtre et Remplacement de valeurs

In [49]:
my_dataframe.loc[
    my_dataframe["Largeur Pétale (cm)"]>2, # Lignes
                "label_iris"
    ]= 'Grand Virginica'
my_dataframe[0:20]

,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris,label_iris
id_Iris,,,,,,
0,4.9,3.1,1.5,0.2,0,Versicolor
1,5.3,3.7,1.5,0.2,0,Versicolor
2,6.7,3.1,4.4,1.4,1,Setosa
3,5.0,3.0,1.6,0.2,0,Versicolor
4,5.7,NaN,4.2,1.3,1,Setosa
5,5.9,3.0,5.1,1.8,2,Virginica
6,6.1,2.8,4.0,1.3,1,Setosa
7,5.4,3.4,1.7,0.2,0,Versicolor
8,5.6,3.0,4.5,1.5,1,Setosa
9,6.7,3.3,5.7,2.1,2,Grand Virginica
10,4.6,3.2,1.4,0.2,0,Versicolor
11,5.0,2.3,3.3,1.0,1,Setosa
12,5.5,4.2,1.4,0.2,0,Versicolor
13,5.8,2.7,5.1,1.9,2,Virginica
14,7.7,2.8,6.7,2.0,2,Virginica
15,6.3,3.3,4.7,1.6,1,Setosa
16,7.2,3.0,5.8,1.6,2,Virginica
17,6.6,3.0,4.4,1.4,1,Setosa
18,4.7,3.2,1.3,0.2,0,Versicolor
19,NaN,2.6,4.0,1.2,1,Setosa

## Remplir les valeurs manquantes

In [23]:
mon_petit_dataframe.fillna(0) # Ajouter le paramètre inplace=True pour que le DataFrame soit modifié

         Longueur Sépale (cm)  Longueur Pétale (cm)  Type Iris
id_Iris
145                       6.5                   3.6          1
146                       6.0                   3.0          1
147                       4.6                   0.4          0
148                       7.3                   0.0          2
149                       6.8                   4.9          2

In [24]:
mon_petit_dataframe

         Longueur Sépale (cm)  Longueur Pétale (cm)  Type Iris
id_Iris
145                       6.5                   3.6          1
146                       6.0                   3.0          1
147                       4.6                   0.4          0
148                       7.3                   NaN          2
149                       6.8                   4.9          2

## columns et drop

In [25]:
print(list(my_dataframe.columns.values))
my_dataframe = my_dataframe.drop('CategoricalLgPetale', axis=1)
print(list(my_dataframe.columns.values))

['Longueur Sépale (cm)', 'Largeur Sépale (cm)', 'Longueur Pétale (cm)', 'Largeur Pétale (cm)', 'Type Iris', 'CategoricalLgPetale']
['Longueur Sépale (cm)', 'Largeur Sépale (cm)', 'Longueur Pétale (cm)', 'Largeur Pétale (cm)', 'Type Iris']

## Mise en Forme

In [26]:
from IPython.display import Markdown, display, HTML

display(Markdown('<span style="color:blue;font-weight:bold">Ceci est le titre</span>'))
display(HTML(mon_petit_dataframe.to_html()))
display(Markdown('<span style="color:blue;font-weight:bold">----- Fin ----- </span>'))

<span style="color:blue;font-weight:bold">Ceci est le titre</span>

<span style="color:blue;font-weight:bold">----- Fin ----- </span>